<header>
  <nav class="navbar navbar-expand-lg navbar-dark header bg-dark fixed-top opa-9">
    <h1 class="pa-r-50 white">kamitoshi's room</h1>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="Navber">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active pa-x-30">
          <h1><%= link_to "about", "#", class: "nav-link" %></h1>
        </li>
        <li class="nav-item active pa-x-30">
          <h1><%= link_to "content", "#", class: "nav-link" %></h1>
        </li>
        <li class="nav-item active pa-x-30">
          <h1><%= link_to "skill", "#", class: "nav-link" %></h1>
        </li>
      </ul>
    </div>
  </nav>
</header>